.footer-area {
    padding-top: 80px;
    position: relative;
    z-index: 1;
    background-color: rgb(247, 250, 253);
}

.pr-in {
    padding-left: 3rem;
}

.single-footer-widget h3 {
    font-size: 18px;
    margin-bottom: 17px;
}

.single-footer-widget ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.single-footer-widget ul.list li {
    margin-bottom: 10px;
}

.single-footer-widget ul.list li a {
    color: rgb(96, 132, 164);
}

.footer-area .map {
    position: absolute;
    inset: 0px;
    margin: 0px auto;
    text-align: center;
    z-index: -1;
    opacity: 0.7;
}

.social-links li a {
    width: 32px;
    text-align: center;
    line-height: 29px;
    height: 32px;
    border: 1px solid rgb(68, 206, 111);
    border-radius: 50%;
    color: rgb(68, 206, 111);
    margin-top: 14px;
}

.social-links li {
    display: inline-block;
    margin-right: 8px;
}

.social-links li a.facebook:hover {
    background: rgb(66, 103, 178);
    color: rgb(255, 255, 255);
}

.footer-contact-info {
    margin-bottom: 20px;
}

.footer-contact-info li {
    position: relative;
    color: rgb(96, 132, 164);
    margin-bottom: 8px;
    padding-left: 25px;
}

.footer-contact-info li span {
    position: absolute;
    left: 0px;
    width: 15px;
    height: auto;
    top: 2px;
}

.copyright-area {
    margin-top: 80px;
    border-top: 1px solid rgb(216, 235, 253);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    background-color: rgb(14, 49, 76);
    width: 142px;
    margin-bottom: 20px;
}


